.bold {
  font-weight: bold;
}

.container {
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 6rem;
  }
}